<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>wican</title>
    <% if (env !== 'development') { %>
      <link rel="stylesheet" href="/assets/styles.css">
    <% } %>
  </head>

  <body>
    <header>
      <div id="logo">
        <img src="/assets/logo.png" alt="Logo" />
      </div>
      <nav>
        <a href="/">Inicio</a>
        <a href="<%= ongsPath %>">ONGs</a>
        <a href="">Sobre nosotros</a>
      </nav>
      <div id="user-bar">
        <span class="name">Hola Usuario</span>
        <a href="">Salir</a>
      </div>
    </header>
    <%- body %>
    <script src="/assets/app.js"></script>
  </body>

</html>
