$wican-blue: #47737d;
$wican-orange: #e87134;
$default-transition: 0.3s all;

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  padding-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
  transition: $default-transition;
  &.minimized-header {
    padding-top: 50px;
  }
}

header {
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 0 5px #999;
  background: #fff;
  z-index: 10;
  transition: $default-transition;
  .minimized-header & {
    padding: 5px 10px;
  }
}


#logo {
  display: inline-block;
  vertical-align: middle;
  img {
    height: 60px;
    transition: $default-transition;
    .minimized-header & {
      height: 30px;
    }
  }
}

nav {
  vertical-align: middle;
  display: inline-block;
  a {
    display: block;
    float: left;
    border-right: 1px #e87134 solid;
    padding: 20px;
    color: $wican-blue;
    text-decoration: none;
    transition: $default-transition;
    &:hover {
      background: lighten($wican-blue, 50);
    }
    &:last-child {
      border: none;
    }
    .minimized-header & {
      padding: 0 20px;
    }
  }
}

#user-bar {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  text-align: right;
  transition: $default-transition;
  span {
    display: block;
  }
  .minimized-header & {
    padding: 10px 20px;
    span {
      display: inline-block;
    }
  }
}
